<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link href="/css/bootstrap-min.css" rel="stylesheet">
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<div class="container" >
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>ID</th>
                <th>Name</th>
                <th>Status</th>
                <th>Species</th>
                <th>Type</th>
                <th>Gender</th>
                <th>Image</th>
                <th>URL</th>
                <th>Created</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="character : ${characters}">
                <td th:text="${character.id}"></td>
                <td th:text="${character.name}"></td>
                <td th:text="${character.status}"></td>
                <td th:text="${character.species}"></td>
                <td th:text="${character.type}"></td>
                <td th:text="${character.gender}"></td>
                <td>
                    <img th:src="${character.image}"
                         alt="..." width="100">
                </td>
                <td>
                    <a th:href="${character.url}">url</a>
                </td>
                <td th:text="${character.created}"></td>
            </tr>
        </tbody>
    </table>
</div>


</body>
</html>